* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* Color palette: */
:root {
  --molten-lava: #780000ff;
  --brick-red: #c1121fff;
  --papaya-whip: #fdf0d5ff;
  --deep-space-blue: #003049ff;
  --steel-blue: #669bbcff;
}
.player-data pre img {
  border-radius: 10px;
  margin-right: 10px;
  vertical-align: middle;
}
.player-data pre a {
  list-style-type: none;
  color: var(--papaya-whip);
}
.player-data pre a:hover {
  list-style-type: none;
  color: var(--brick-red);
}
.nav-links {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 20px;
  background-color: var(--deep-space-blue);
  padding: 10px;
  border-radius: 8px;
  justify-content: center;
  letter-spacing: 1px;
  font-size: 1.3rem;
}
.nav-links li {
  color: var(--papaya-whip);
  cursor: pointer;
}
.nav-links li:hover {
  text-decoration: underline;
  color: aqua;
}
.navbar {
  background-color: var(--steel-blue);
  padding: 10px;
  border-radius: 10px;
}
.playerForm {
  margin-bottom: 20px;
  margin-top: 20px;
}
.player {
  display: flex;
  flex-direction: row;
  width: 600px;
  background-color: var(--molten-lava);
  margin-top: 10px;
  padding: 0px;
  border-radius: 8px;
  color: var(--papaya-whip);
}
.players-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}
.player p {
  padding: 10px;
}
.player a {
  color: var(--papaya-whip);
  text-decoration: none;
}
.player-data {
  background-color: var(--brick-red);
  padding: 10px;
  border-radius: 20px;
  color: var(--papaya-whip);
}
.app-content {
  padding: 5px;
}
.player-avatar {
  border-radius: 10px;
  width: 50%;
  height: 100%;
}
