* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Macondo", cursive;
  font-weight: 400;
  font-style: normal;
}
#root,
body,
html {
  height: 100%;
}
/* Color palette: */
:root {
  --molten-lava: #780000ff;
  --brick-red: #c1121fff;
  --papaya-whip: #fdf0d5ff;
  --deep-space-blue: #003049ff;
  --steel-blue: #669bbcff;
}
.layout {
  height: 100%;
  background-color: var(--steel-blue);
}
.player-data pre img {
  border-radius: 10px;
  margin-right: 10px;
  vertical-align: middle;
}
.player-data pre a,
.player-data a {
  list-style-type: none;
  color: var(--steel-blue);
}
.player-data pre a:hover {
  list-style-type: none;
  color: var(--brick-red);
}
.nav-links {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 20px;
  background-color: var(--deep-space-blue);
  padding: 10px;
  border-radius: 8px;
  justify-content: center;
  letter-spacing: 1px;
  font-size: 1.3rem;
}
.nav-links li {
  color: var(--papaya-whip);
  cursor: pointer;
}
.nav-links li:hover {
  text-decoration: underline;
  color: aqua;
}
.navbar {
  background-color: var(--steel-blue);
  padding: 10px;
  border-radius: 10px;
}
.playerForm {
  margin-bottom: 20px;
  margin-top: 20px;
}
.playerForm button {
  padding: 10px;
  border-radius: 10px;
  background-color: var(--deep-space-blue);
  color: var(--papaya-whip);
  margin: 10px;
}
.comparePlayersForm {
  width: 100%;
}
.playerone-and-playertwo {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}
.playerForm button:hover {
  background-color: var(--steel-blue);
  cursor: pointer;
}
.lastTenGamesParent {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: var(--papaya-whip);
  margin-top: 10px;
  padding: 10px;
  border-radius: 8px;
  color: var(--deep-space-blue);
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
.player10lastgames {
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: var(--molten-lava);
  margin-top: 10px;
  padding: 10px;
  border-radius: 8px;
  color: var(--papaya-whip);
}
.player10lastgames a {
  color: var(--steel-blue);
}
.player {
  display: flex;
  flex-direction: column;
  width: 600px;
  background-color: var(--molten-lava);
  margin-top: 10px;
  padding: 0px;
  border-radius: 8px;
  color: var(--papaya-whip);
}
.players-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
.player p {
  padding: 10px;
}
.player a {
  color: var(--steel-blue);
  text-decoration: none;
}
.player a:hover {
  color: var(--papaya-whip);
}
.player-data {
  background-color: var(--brick-red);
  padding: 10px;
  border-radius: 20px;
  color: var(--papaya-whip);
}
.app-content {
  background-color: var(--steel-blue);
  padding: 5px;
}
.player-avatar {
  border-radius: 10px;
  width: 50%;
  height: 100%;
}
